
{{logData.departure_airport:}}


{{!-- <ul>
{{#each logdata as |log|}}
    <li>{{log.dual}}</li>
    <li>{{log.instructor_name}}</li>
    <li>{{log.departure_airport}}</li>
    <li>{{log.departure_time}}</li>
    <li>{{log.arrival_airport}}</li>
    <li>{{log.arrival_time}}</li>
    <li>{{log.approaches}}</li>
    <li>{{log.landings}}</li>
    <li>{{log.comments}}</li>
    <li>{{log.total_intrument_time}}</li>
    <li>{{log.total_time}}</li>
    <li>{{log.aircraft.aircraft_name}}</li>
    <li>{{log.aircraft.aircraft_type}}</li>
    <li>{{log.aircraft.reg_id}}</li>
   
{{/each}}
</ul> --}}