
<p>This screen has been rendered for edit</p>



<ul>
    <li>{{formatDate logData.date}}</li>
    <li>{{logData.dual}}</li>
    <li>{{logData.instructor_name}}</li>
    <li>{{logData.departure_airport}}</li>
    <li>{{logData.departure_time}}</li>
    <li>{{logData.arrival_airport}}</li>
    <li>{{logData.arrival_time}}</li>
    <li>{{logData.approaches}}</li>
    <li>{{logData.landings}}</li>
    <li>{{logData.comments}}</li>
    <li>{{logData.total_intrument_time}}</li>
    <li>{{logData.total_time}}</li>
    <li>{{logData.aircraft.aircraft_name}}</li>
    <li>{{logData.aircraft.aircraft_type}}</li>
    <li>{{logData.aircraft.reg_id}}</li>
</ul>